.chatbot-container {
  background: rgb(92, 130, 255);
  background: linear-gradient(
    90deg,
    rgba(157, 92, 255, 1) 0%,
    rgba(92, 130, 255, 1) 100%
  );
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 340px; /* 적절한 너비 설정 */
  max-height: 800px; /* 적절한 최대 높이 설정 */

  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(150, 37, 37, 0.1);
  overflow: visible;
  z-index: 1000; /* 다른 요소 위에 표시되도록 z-index 설정 */
}

.chatbot-head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.ri-close-line,
.ri-arrow-left-s-line {
  font-size: 1.5rem;
  color: #ffffff;
}

.chatbot-header {
  background-color: white;
  border: 1px solid #ddd;
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem;
}

.chatbot-messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  font-size: large;
}

.chatbot-message {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}

.user-message {
  background-color: #dcf8c6;
  align-self: flex-end;
}

.bot-message {
  background-color: #f1f0f0;
  align-self: flex-start;
}

.chatbot-input {
  border: none;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.chatbot-button {
  position: absolute;
  top: 0px;
  left: -90px; /* 적절한 위치 조정 */
  background-color: #007bff;
  color: white;
  padding: 5px 20px; /* 패딩 조정 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.chatbot-button-normal {
  position: absolute;
  top: 30px;
  left: -60px; /* 적절한 위치 조정 */
  background-color: #dd8f22;
  color: white;
  padding: 5px 20px; /* 패딩 조정 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.chatbot-button-normal:hover {
  background-color: #f59207;
}
.chatbot-button:hover {
  background-color: #0056b3;
}

.chatbot-head-normal {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.chatbot-header-normal {
  background-color: white(131, 30, 30);
  border: 1px solid #ddd;
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem;
}

.chatbot-messages-normal {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  font-size: large;
}

.chatbot-input {
  border: none;
  padding: 10px;
  border-top: 1px solid #ddd;
}
