html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: "omyu_pretty";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* input창 관련 css */
.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input--search {
  border: none;
  width: 350px;
  height: 30px;
}

.input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
}

/* header 관련 css */
.header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eaeaea;
  background-color: #f5f6f7;
  align-items: center;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header-image {
  flex: 2;
  display: block;
  padding-left: 20px;
  justify-content: center;
  align-items: center;
}

.header-search {
  flex: 6;
  display: flex;
  justify-content: center;
}

.header-link {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-link a {
  display: flex;
  justify-content: center;
  color: black;
  text-decoration: none;
  flex-grow: 1;
}

.header-link:hover {
  background-color: rgb(60, 200, 130);
}

.header-link:hover > a {
  color: white;
  font-weight: 700;
}

/* header 검색 관련 css */
.search-input {
  font-family: omyu_pretty, sans-serif;
  font-size: 16px;
  border: none;
  width: 58vh;
  height: 5vh;
}

.search-input:focus {
  outline: none;
}

.search-form {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  background-color: white;
  display: flex;
  align-items: center;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 60vh;
  height: 6vh;
}

.search-results {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translateX(-52%);
  margin-top: 3vh;
  width: 58vh;
  background-color: white;
}

.search-result-text {
  border: 1px solid #eaeaea;
  text-align: left;
  font-family: omyu_pretty, sans-serif;
  font-size: 16px;
  padding: 8px;
}

/* footer 관련 css */
.footer {
  display: block;
  border-top: 1px solid #eaeaea;
  background-color: #f5f6f7;
  width: 100%;
  height: 23vh;
  padding-top: 15px;
  padding-left: 20px;
  font-size: 12px;
  font-family: Arial, sans-serif;
}

.footer-link a {
  display: block;
  margin-bottom: 8px;
  color: black;
  text-decoration: none;
  flex-grow: 1;
}

/* Button 관련 css */
.button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 1px solid #ccc;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.button--search {
  border: none;
}
.button--small {
  font-size: 12px;
  border: none;
  background-color: #f5f6f7;
  padding: 1px 2px;
}
.button--medium {
  font-size: 14px;
  padding: 7px 20px;
}
.button--large {
  font-size: 16px;
  padding: 12px 24px;
}

/* 메인 페이지 css */
.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 88vh;
  width: 100%;
}
.main-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 48vh;
}
.main-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40vh;
}

.main-row {
  display: flex;
  flex-direction: row;
}

.category-container {
  display: flex;
  flex-direction: row;
  width: 60vw;
  background-color: #ffffff;
  margin-top: 2vh;
}

.category-list {
  display: flex;
  flex-direction: column;
  width: 20vw;
  max-height: 35vh;
  overflow: auto;
  background-color: #ffffff;
}

.category-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: omyu_pretty, sans-serif;
  font-size: 15px;
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
}

.text-container {
  display: block;
  width: 100%;
}

.icon-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #eaeaea;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 10px 10px;
}

.icon-container {
  display: flex;
  flex-direction: row;
  position: relative;
  min-width: 50px;
  justify-content: right;
  align-items: center;
}

.category-item {
  background-color: #fff;
}

.category-item.selected {
  background-color: #0099ff;
}

/* 검색 페이지 css */
.search-result-container {
  display: flex;
  flex-direction: row;
  padding-top: 5vh;
  height: 75vh;
}
.search-result-text.selected {
  background-color: lightblue;
}

.search-map {
  display: block;
}

.search-result {
  display: flex;
  width: 50vw;
  height: 70vh;
  overflow: auto;
}

.hospital-table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.hospital-table th {
  text-align: center;
  height: 6vh;
  border: 1px solid #d0d0d0;
  padding: 8px;
  background-color: #ededed;
}

.hospital-table td {
  text-align: center;
  height: 6vh;
  border: 1px solid #d0d0d0;
  padding: 8px;
}

.main-search-button {
  display: flex;
  justify-content: right;
}

.selected-text {
  background-color: #0099ff;
  color: white;
}

/* 이용약관 페이지 관련 css */
.rule-text {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

/* 커스텀 레이아웃 관련 css */
.wrap {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 288px;
  height: 132px;
  margin-left: -144px;
  text-align: left;
  overflow: hidden;
  font-size: 12px;
  font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
  line-height: 1.5;
}

.info {
  width: 286px;
  height: 120px;
  border-radius: 5px;
  border-bottom: 2px solid #ccc;
  border-right: 1px solid #ccc;
  overflow: hidden;
  background: #fff;
}

.title {
  padding: 5px 0 0 10px;
  height: 30px;
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-weight: bold;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #888;
  width: 17px;
  height: 17px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png);
}

.body {
  display: block;
  position: relative;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

.img {
  position: absolute;
  top: 6px;
  left: 5px;
  width: 73px;
  height: 71px;
  border: 1px solid #ddd;
  color: #888;
  overflow: hidden;
}

.desc {
  position: relative;
  margin: 13px 0 0 90px;
  height: 75px px;
}

/* 스크롤바 css */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* 비급여 소개 관련 css */
.progress-bar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100vw;
  height: 4px;
  background-color: #888888;
  transform-origin: 0%;
}

/* 말풍선 CSS */
.bubble {
  --r: 25px; /* the radius */
  --t: 30px; /* the size of the tail */
  
  max-width: 300px;
  padding: calc(2*var(--r)/3);
  -webkit-mask: 
    radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
      var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
    conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
      calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
    radial-gradient(50% 50%,#000 98%,#0000 101%) 
      0 0/var(--r) var(--r) space padding-box;
  background: linear-gradient(135deg,#FE6D00,#1384C5) border-box;
  color: #fff;
}
.left {
  --_d: 0%;
  border-left: var(--t) solid #0000;
  margin-right: var(--t);
  place-self: start;
}
.right {
  --_d: 100%;
  border-right: var(--t) solid #0000;
  margin-left: var(--t);
  place-self: end;
}
/* body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  gap: 20px;
  font-family: system-ui, sans-serif;
  font-size: 20px;
} */