html,
body {
  padding: 0;
  margin: 0;
  font-family:
    omyu_pretty,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: "omyu_pretty";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* input창 관련 css */
.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input--search {
  border: none;
  width: 350px;
  height: 30px;
}

.input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
}

/* header 관련 css */
.header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eaeaea;
  background-color: #f5f6f7;
  align-items: center;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header-image {
  flex: 2;
  display: block;
  padding-left: 20px;
  justify-content: center;
  align-items: center;
}

.header-search {
  flex: 6;
  display: flex;
  justify-content: center;
}

.header-link {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-link a {
  display: flex;
  justify-content: center;
  color: black;
  text-decoration: none;
  flex-grow: 1;
}

.header-link:hover {
  background-color: rgb(60, 200, 130);
}

.header-link:hover > a {
  color: white;
  font-weight: 700;
}

/* header 검색 관련 css */
.search-input {
  font-family: omyu_pretty;
  font-size: 16px;
  border: none;
  width: 58vh;
  height: 5vh;
}

.search-input:focus {
  outline: none;
}

.search-form {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  background-color: white;
  display: flex;
  align-items: center;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 30vw;
  height: 6vh;
}

.search-results {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translateX(-52%);
  margin-top: 3vh;
  width: 29vw;
  background-color: white;
}

.search-result-text {
  border: 1px solid #eaeaea;
  text-align: left;
  font-size: 16px;
  padding: 8px;
}

.search-result-text .selected {
  background-color: lightblue;
}

/* footer 관련 css */
.footer {
  display: block;
  border-top: 1px solid #eaeaea;
  background-color: #f5f6f7;
  width: 100%;
  height: 23vh;
  padding-top: 15px;
  padding-left: 20px;
  font-size: 12px;
  font-family: Arial, sans-serif;
}

.footer-link a {
  display: block;
  margin-bottom: 8px;
  color: black;
  text-decoration: none;
  flex-grow: 1;
}

/* Button 관련 css */
.button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 1px solid #ccc;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.button--search {
  border: none;
}
.button--small {
  font-size: 12px;
  border: none;
  background-color: #f5f6f7;
  padding: 1px 2px;
}
.button--medium {
  font-size: 14px;
  padding: 7px 20px;
}
.button--large {
  font-size: 16px;
  padding: 12px 24px;
}

/* 메인 페이지 css */
.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 88vh;
  width: 100%;
}
.main-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 48vh;
}
.main-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40vh;
}

.main-row {
  display: flex;
  flex-direction: row;
}

.category-container {
  display: flex;
  flex-direction: row;
  width: 60vw;
  background-color: #ffffff;
  margin-top: 2vh;
}

.category-list {
  display: flex;
  flex-direction: column;
  width: 20vw;
  max-height: 35vh;
  overflow: auto;
  background-color: #ffffff;
}

.category-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
}

.text-container {
  display: block;
  width: 100%;
}

.icon-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #eaeaea;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 10px 10px;
}

.icon-container {
  display: flex;
  flex-direction: row;
  min-width: 50px;
  justify-content: right;
  align-items: center;
}

.icon-wrapper {
  position: relative;
  display: inline-block;
}

.category-item {
  background-color: #fff;
}

.category-item.selected {
  background-color: #0099ff;
}
.category-item:hover {
  cursor: pointer;
}

/* 검색 페이지 css */
.search-result-container {
  display: flex;
  flex-direction: row;
}

.search-container {
  display: flex;
  flex-direction: column;
}

.search-title {
  font-size: 24px;
  padding-left: 5px;
  padding-bottom: 15px;
}

.search-result-text.selected {
  background-color: lightblue;
}

.search-map {
  display: block;
  position: relative;
}

.search-result {
  width: 50vw;
  height: 70vh;
  padding-left: 15px;
  overflow-y: auto;
}
.search-result table {
  width: 100%;
  border-collapse: collapse;
}

.search-result th {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  background-color: #f5f6f7;
}
.search-result td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.search-result td:first-child {
  text-align: left;
}

.search-select {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding-bottom: 4px;
}
.search-select-left {
  flex: 1;
  justify-content: left;
  padding-left: 15px;
  padding-bottom: 4px;
}
.search-select select,
.search-select option {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f6f7;
  font-family: "omyu_pretty";
  font-size: 16px;
}
.search-detail {
  width: 50vw;
  height: 70vh;
}
.no-result {
  font-size: 28px;
}

.main-search-text {
  display: flex;
  justify-content: right;
}
.main-search-text:hover {
  cursor: pointer;
}

.selected-text {
  background-color: #0099ff;
  color: white;
}

.hospital-detail {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 70vh;
  padding-left: 20px;
}

/* 표 관련 css */
.detail-title-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detail-title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
}

.detail-button {
  font-size: 24px;
  font-weight: 700;
  text-align: right;
}

.detail-button:hover {
  cursor: pointer;
}

.detail-cell:hover {
  cursor: pointer;
}

.detail-title2 {
  font-size: 20px;
  font-weight: 700;
}

.detail-content {
  font-size: 18px;
}
.detail-content2 {
  width: 100%;
  height: 70vh;
  overflow: auto;
  font-size: 18px;
}

.detail-subtitle {
  font-weight: bold;
}

.detail-content table,
.detail-content2 table {
  width: 100%;
  border-collapse: collapse;
}

.detail-content th,
.detail-content td,
.detail-content2 th,
.detail-content2 td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.detail-content td:first-child,
.detail-content2 td:first-child {
  text-align: left;
}

/* 페이지네이션 관련 css */
.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.pagination-arrow {
  cursor: pointer;
  margin: 0 10px;
  font-size: 18px;
  color: #333;
}

.pagination-arrow.disabled {
  color: #ccc;
  cursor: not-allowed;
}

.pagination-number {
  cursor: pointer;
  margin: 0 5px;
  font-size: 16px;
  color: #333;
}

.pagination-number.selected {
  font-weight: bold;
  color: #007bff;
}

/* 커스텀 오버레이 관련 css */
.overlay-wrap {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 288px;
  margin-left: -144px;
  text-align: left;
}

.overlay-info {
  border-radius: 5px;
  border-bottom: 2px solid #ccc;
  border-right: 1px solid #ccc;
  background: #fff;
}

.overlay-title {
  padding: 5px 5px 5px 10px;
  height: 30px;
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-family: "omyu_pretty";
  font-size: 18px;
  font-weight: bold;
}

.overlay-body {
  display: flex;
  position: relative;
  overflow: visible;
  white-space: pre-wrap;
  font-family: "omyu_pretty";
  font-size: 18px;
  padding: 10px 0px 5px 10px;
  flex-grow: 1;
}

.overlay-desc {
  display: flex;
  justify-content: left;
  font-family: "omyu_pretty";
  font-size: 16px;
  padding-left: 10px;
  color: #888888;
}

/* 이용약관 페이지 관련 css */
.rule-text {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

/* 스크롤바 css */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* 비급여 소개 관련 css */
.progress-bar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100vw;
  height: 4px;
  background-color: #888888;
  transform-origin: 0%;
}

/* 서비스 소개 css */
.service-div1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: RGB(207, 230, 220);
}
.service-img1 {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  vertical-align: middle;
}

.animation span {
  position: absolute;
  font-size: 30px;
  left: 20%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}

.animation .one_text {
  opacity: 1;
  color: black;
  animation: animate 3s infinite;
  top: 55%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.animation .two_text {
  opacity: 1;
  color: white;
  top: 65%; /* 적절한 위치로 조절 */
  left: 20%; /* 추가 */
  transform: translate(-50%, -50%); /* 추가 */
}

@keyframes animate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.service-img2 {
  padding: 5%;
  width: 60%;
}

.service-img3 {
  padding: 5%;
  width: 60%;
}

.service-img5 {
  padding: 5%;
  width: 60%;
}

.service-textbox2 {
  width: 40%;
  font-size: 25px;
  text-align: center;
}

.service-textbox3 {
  width: 40%;
  font-size: 30px;
  text-align: center;
}

.text-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.service-textbox4 {
  font-size: 30px;
  text-align: center;
}

.start-button {
  background: #3d4c53;
  margin: 20px auto;
  width: 200px;
  height: 50px;
  overflow: hidden;
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.start-button2 {
  position: relative;
  width: 200px;
  height: 100px;
  margin-top: -100px;
  padding-top: 2px;
  background: #26a69a;
  left: -250px;
  transition: 0.3s;
}
.start-button-text {
  color: white;
  transition: 0.3s;
}
.start-button-text2 {
  margin-top: 63px;
  margin-right: -130px;
  color: #fff;
}
.start-button:hover .start-button2 {
  left: -130px;
}
.start-button:hover .start-button-text {
  margin-left: 65px;
}
.start-button:active {
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
}

.service-section {
  width: 100vw;
  height: 110vh;
}

.service-div2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.service-div3 {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
}

.service-div4 {
  width: 100%;
  height: 100%;
  display: flex;
}

.arrow {
  font-size: 48px;
  font-weight: 700;
  color: white;
}

.arrow:hover {
  cursor: pointer;
}
